.card {
  max-width: 280px;
  background-color: #ffffff;
  padding: 20px 20px 30px 20px;
  border-radius: 30px;
  color: black;

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .image {
      display: grid;
      place-items: center;
      width: 100%;
      min-width: 240px;
      aspect-ratio: 0.9/1;
      background-color: #f8981d;
      border-radius: 10px;

      img {
        width: 100%;
      }
    }

    .info {
      font-family: "Manrope", Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .prices {
        font-family: "Manrope", Helvetica, sans-serif;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .oldPrice {
          font-size: 1rem;
          letter-spacing: 0px;
          font-weight: 400;
          line-height: 20px;
          text-decoration: line-through;
          color: #adcced;
        }

        .newPrice {
          font-size: 1.5rem;
          letter-spacing: 0px;
          font-weight: 600;
          line-height: 30px;
          color: #ff007f;
        }
      }
    }
  }
}
