.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  overflow: visible;
}

.icon {
  position: absolute;
  max-width: none;
}

.icon01 {
  width: 248px;
  height: 257px;
  top: 1600px;
  left: 190px;
}
.icon02 {
  width: 283px;
  height: 260px;
  top: 1600px;
  left: 742px;
  transform: translateX(41deg);
}

.icon03 {
  width: 413px;
  height: 395px;
  top: 510px;
  left: 845px;
  transform: transform(-180deg);
}

.icon04 {
  width: 400px;
  height: 376px;
  top: 736px;
  left: 20px;
}

.icon05 {
  width: 92px;
  height: 98px;
  top: 1600px;
  left: 971px;
}

.icon06 {
  width: 73px;
  height: 76px;
  top: 1800px;
  left: 944px;
}

.icon07 {
  width: 103px;
  height: 104px;
  top: 1550px;
  left: 262px;
}

.icon08 {
  width: 89px;
  height: 90px;
  top: 1800px;
  left: 135px;
}

/*@media (max-width: 900px) {
  .icon01,
  .icon04,
  .icon06 {
    left: -40px;
  }

  .icon03,
  .icon05,
  .icon07 {
    right: -40px;
  }

  .icon01 {
    width: 120px;
  }

  .icon03 {
    width: 90px;
    top: 220px;
  }

  .icon04 {
    width: 110px;
    top: 700px;
  }

  .icon05 {
    width: 130px;
    top: 480px;
  }

  .icon06 {
    width: 120px;
    top: 1080px;
  }

  .icon07 {
    width: 130px;
    top: 1420px;
  }

  .icon08 {
    width: 100px;
    top: 1750px;
  }
}*/
