header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  gap: 83px;
  height: 80px;
  border-bottom: 5px solid #e65425;
  border-radius: 10px;
  margin-bottom: 40px;

  .logo {
    width: 270px;
    height: 29px;
    border: 1px;
    border-color: #1d1d1b;
  }

  .headerMenu {
    .headerMenuList {
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      height: 16px;
      width: 100%;

      .headerMenuLink {
        color: white;
        display: inline-flex;
        align-items: center;
        column-gap: 7px;
        height: 16px;
        text-decoration: none;
        font-weight: 700;
        font-style: bold;
        letter-spacing: 0;
      }
    }
  }
}
