.section {
  max-width: 1240px;
  color: #ffffff;
  background-color: #e65425;
  border-radius: 40px;
  padding: 0 70px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;

      .title {
        font-size: 56px;
        font-weight: 700;
        line-height: 57px;
        letter-spacing: -1px;
        text-align: left;
      }
      .description {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
      }
      .button {
        font-family: "Manrope", Helvetica, sans-serif;
        padding: 16px 70px;
        font-size: 1.16rem;
        font-weight: 700;
        line-height: 16px;
        background-color: #ffffff;
        border-radius: 70px;
        color: #36404a;
      }
    }
    .image {
      width: 461px;
      height: 461px;
      background-image: url("/images/maskot.png"), url("/images/boom.png");
      background-repeat: no-repeat, no-repeat;
      background-size:
        411px 411px,
        461px 461px;
      background-position: bottom, center;
      flex-shrink: 0;
    }
  }
}
